<div class="container" ng-controller="PollController">
    <div class="row">
        <ab-panel ab-title="Add Poll Form">
            <form name="form" ng-submit="addPoll(poll)" novalidate="" class="form ng-pristine ng-valid">
                <div class="form-group">
                    <label>Name your poll</label>
                    <input placeholder="What is your faviourite brand? " name="id" ng-model="poll.name" class="form-control ng-pristine ng-untouched ng-valid">
                </div>
                <div class="form-group">
                    <label>Options</label>
                    <input ng-repeat="holder in placeholders track by $index" placeholder="{{holder}}" name="name" ng-model="poll.options" class="form-control ng-pristine ng-untouched ng-valid">
                </div>
                <div id="login">
                    <input type="submit" class="btn btn-default" ng-click="addOption()" value="More Options">
                    <input type="submit" class="btn btn-success" value="Submit">
                </div>
            </form>
        </ab-panel>
        <ab-panel ab-title=" My Polls: ">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio
                    <button type="button" class="btn btn-primary pull-right">Delete</button>
                </li>
                <li class="list-group-item">Dapibus ac facilisis in
                    <button type="button" class="btn btn-primary pull-right">Delete</button>
                </li>
                <li class="list-group-item">Cras justo odio
                    <button type="button" class="btn btn-primary pull-right">Delete</button>
                </li>
                <li class="list-group-item">Dapibus ac facilisis in
                    <button type="button" class="btn btn-primary pull-right">Delete</button>
                </li>
            </ul>
        </ab-panel>
    </div>
</div>
