<div ng-include="'jumbotron.html'">
</div>
<div class="container">
    <form name="form" ng-submit="register(user)" novalidate class="form ng-pristine ng-valid">
        <div ng-show="error" class="alert alert-danger row">
            <span>{{ error.message }}</span>
        </div>
        <div class="form-group">
            <label>Name</label>
            <input name="username" ng-model="user.username" class="form-control ng-pristine ng-untouched ng-valid" required>
        </div>
        <div class="form-group has-error">
            <p ng-show="form.username.$touched && form.username.$error.required || form.username.$error.required && form.$submitted" class="help-block ng-hide">Please enter your username.</p>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input name="email" type="email" ng-model="user.email" class="form-control ng-pristine ng-untouched ng-valid" required>
        </div>
        <div class="form-group has-error">
            <p ng-show="form.email.$touched && form.email.$error.required || form.email.$error.required && form.$submitted" class="help-block ng-hide">Please enter your email.</p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="password" ng-model="user.password" class="form-control ng-pristine ng-untouched ng-valid" type="password" required>
        </div>
        <div class="form-group has-error">
            <p ng-show="form.password.$touched && form.password.$error.required || form.password.$error.required && form.$submitted" class="help-block ng-hide">Please enter your password.</p>
        </div>
        <div id="login">
            <button type="submit" class="btn btn-success">Signup</button>
            <button type="reset" class="btn btn-success">Reset</button>
        </div>
    </form>
</div>
